@media(max-width: 576px) {
    
  header .container h1 img {
    filter: contrast(140%);
  }
  
  header .container nav:nth-child(2) {
    display: none;
  }

  .banner ul li,
  .banner ul li img {
    height: 60vh;
  }
    
}