@media (max-width: 576px) {
  /* HEADER */
  header .container h1 img {
    filter: contrast(140%);
  }

  header .container nav:nth-child(2) {
    display: none;
  }
  /* FIM HEADER */

  /* BANNER */
  .banner ul li,
  .banner ul li img {
    height: 60vh;
  }
  /* FIM BANNER */
}

@media (max-width: 768px) {
  /* PRODUTOS */
  .produtos div .container ul li {
    flex-basis: calc(100% / 2);
  }

  .produtos div .container ul li a {
    margin: 0;
  }

  .produtos div .container ul li:nth-child(2n) a {
    margin: 0 0 10px 5px;
  }

  .produtos div .container ul li:nth-child(2n + 1) a {
    margin: 0 5px 10px 0;
  }

  .produtos div .container ul li a img {
    height: 220px;
  }

  .produtos div .container ul li a h2 {
    font-size: 1rem;
  }
  /* FIM PRODUTOS */
}
